*{
    padding: 0%;
    margin: 0%;
}
body{
    margin: 5%;
    margin-left: 5%;
}
header{
    background-color: tomato;
}
.bodega{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bodega img {
    width: 5%;
    margin-top:2% ;
}
header ul{
    display: flex;
    justify-content: center;
}
header li {
    list-style: none;
    margin-right: 5%;
}

.comedores{
    display: flex;
    width: 100%;
}
.comedores img{
    width: 100%;
}
.comedores1{
    border: 1px solid;
    margin: 1%;
    width: 60%;
}
.escritorios{
    display: flex;
    width: 100%;
}

.escritorios img{
    width: 100%;
}
.escritorios1 {
    border: 1px solid;
    margin: 1%;
    width: 60%;

}
.BANCAS{
    display: flex;
    width: 100%;
}
.BANCAS img{
    width: 100%;
}
.bancas1{
    border: 1px solid;
    margin: 1%;
    width: 60%;
}

.comedores1 p{
    text-align: center;
}
.escritorios1 p{
    text-align: center;
}
.bancas1 p {
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
    background-color: tomato;
    padding: 2%;  
}
summary{
    list-style: none;
}
